body {
    background-color: var(--bg-color-primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 960px;
    width: 100%;
    height: 520px;
    border-radius: 5px;
    overflow: hidden;
}

.text {
    background-color: var(--color-black-primary);
    color: white;
    padding: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h4 {
    font-family: "Sora", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--color-white-primary);
    padding: 1rem;
}

.text p {
    font-family: "Inter", arial, sans-serif;
    font-size: 13px;
    color: var(--color-gray-tertiary);
    padding: 1rem;
    
}

.form {
    background-color: var(--color-white-primary);
    min-width: 0;
    justify-content: center;
    align-content: center;
}

.form .mark {
    display: none;
    font-family: "Inter", arial, sans-serif;
    font-size: 18px;
    margin-bottom: 5px
}

.form h5 {
    font-family: "Inter", arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.subtext {
    font-family: "Inter", arial, sans-serif;
    font-size: 13px;
    color: var(--color-gray-secundary);
    margin-bottom: 15px;
}

.form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem;
}

label {
    font-family: "Inria sans", arial, sans-serif;
    font-size: 15px;
    color: var(--color-black-secundary);
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1.5px var(--color-gray-quaternary);
    margin-bottom: 15px;
}

input:focus {
    outline: 1.5px solid var(--color-black-secundary);
}

input[type="text"] {
    font-size: 15px;
    padding: 8px;
    color: var(--color-black-primary);
}

input[type="email"] {
    font-size: 15px;
    padding: 8px;
    color: var(--color-black-primary);
}

input[type="password"] {
    font-size: 15px;
    padding: 8px;
    color: var(--color-black-primary);
}

.form .password-wrapper {
    display: block;
    padding: 0;
    margin-bottom: 15px;
}

.password-wrapper {
    position: relative;
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.password-wrapper .fa-eye,
.password-wrapper .fa-eye-slash {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-black-primary);
}

.submit-btn {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: var(--color-black-primary);
    color: var(--color-white-primary);
    font-family: "Inter", arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.submit-btn:hover {
    transform: scale(1.05);
    
}

.submit-btn:active {
    background-color: #1e2123;
    transform: scale(0.95)
    
}

.google-login-btn {
    color: var(--color-black-primary);
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-family: "Inter" , arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: var(--color-white-primary);
    border: 1px solid var(--color-gray-quaternary);
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.google-login-btn:hover {
    transform: scale(1.05);
}

.google-login-btn:active {
    background-color: #efefef;
    transform: scale(0.95)
    
}

button i {
    margin-right: 5px 
}

.reset-password {
    font-family: "Inter", arial, sans-serif;
    color: var(--color-black-secundary);
    font-weight: 500;
    align-self: flex-end;
    font-size: 13px;
    margin: -9px 0px 20px 0px;
}

.login {
    font-family: "Inter", arial, sans-serif;
    font-weight: 500;
    color: var(--color-gray-secundary);
    font-size: 13px;
    align-self: center;
    margin-top: 10px;
}

.login a {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-black-primary);
    
}




@media (max-width: 600px) {
    .text {
        display: none;
    }
    main {
        grid-template-columns: 1fr;
        max-width: 400px;
        height: 70%;
        border-radius: 10px;
        border: 2px solid var(--color-gray-quaternary);
    }
    .form h5 {
        font-size: 20px;
    }
    .form .mark {
        display: flex;
        font-family: "Inter", arial, sans-serif;
        color: var(--color-gray-secundary);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .subtext {
        margin: 3px 0 30px 0px;
    }

}


@media (max-width: 422px) {
    main {
        max-width: 350px;
        ;
    }
}